@import '~github-markdown-css/github-markdown.css'
@import './font.styl'
@import './mixins.styl'
@import './variables.styl'
* {
  box-sizing: border-box
}
.display-none
  display none!important

.gh-talk__btn
  reset-btn()
  display: inline-block
  line-height: 20px
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  user-select: none
  background-repeat: repeat-x
  background-position: -1px -1px
  background-size: 110% 110%
  border: 1px solid rgba(27,31,35,0.2)
  border-radius: 0.25em
  &--text
    border 0
  &:hover
    opacity: 0.8
  &--disabled
    opacity: 0.5
  &--lg
    padding: 6px 12px
  &--primary
    color: #ffffff
    background-color: #035ec5
    background-image: linear-gradient(-180deg, #3481d0 0%, #035ec5 90%)
  &--default
    color: #000



.gh-talk__comments-list
  border-bottom: solid 1px #d1d5da
  padding-bottom: 14px
  a
    text-decoration: none
.gh-talk__comment-item
  display flex
  margin-top 6px
  margin-bottom 6px
.gh-talk__user
  display inline-block
  width 44px

.gh-talk__comment
  width: calc(100% - 64px)
  margin-left 20px
  border: solid 1px #ddd
  border-radius: 2px
  position relative
  &-preview
    font-size 12px
  &__timestamp
    margin-left: 10px
    color: #aaa
  &::before
    position absolute
    top: 11px
    left: -16px
    width: 0
    height: 0
    content ' '
    pointer-events: none
    border-width: 8px
    border-color: transparent
    border-style: solid solid outset
    border-right-color: #d1d5da
  &::after
    position: absolute
    top: 11px
    left: -16px
    display: block
    width: 0
    height: 0
    pointer-events: none
    content: " "
    border-color: transparent
    border-style: solid solid outset
    margin-top: 1px
    margin-left: 2px
    border-width: 7px
    border-right-color: #f6f8fa
  &__action-btn
    margin-left: 2px
    margin-right: 2px
    font-size: 12px
    opacity: 0.4

    &:hover
      color: paramry-color
      opacity: 1
      svg
        fill: currentColor

.gh-talk__comment-header
  position relative
  font-size 12px
  height: 30px
  line-height: 30px
  padding-left: 16px
  background-color: #f6f8fa
  border-bottom: solid 1px #ddd
  color #586069
    a
      color: paramry-color
      text-decoration: none
  &__author
    color #000
  &__author-label
    background: paramry-color
    color: #f6f8fa
    padding: 0 6px
  &__edit-label
    right 10px
    v-center()

.gh-talk__comment-preview
    padding: 10px 16px
    .highlight-text-html-basic
      overflow-x: auto

.gh-talk-login
  margin-top: 8px
  text-align: center
  font-size: 12px
  svg
    cursor pointer
  span
  cursor pointer
  color: #586069

.gh-talk-editor
  &__header
    background-color: #f6f8fa
    height: 30px
    border-bottom: solid 1px #ddd
    line-height: 30px
    padding-left: 10px
    padding-top: 2px
    margin-bottom: 10px
  &__nav-btn
    padding: 1px 12px
    background-color: transparent
    border: 1px solid transparent
    color: #586069;
    border-bottom: 0
    &.selected
      border-color: #d1d5da
      border-radius: 3px 3px 0 0
      background-color: #fff
      color: #24292e
  &__content
    margin: 10px 10px
  &__textarea
    width: 100%
    resize: vertical
    display block
    padding: 8px
    max-height: 198px
    border: 1px solid #d1d5da
    border-radius: 3px
    outline none
    box-shadow inset 0 1px 2px rgba(27,31,35,0.075)
    vertical-align middle
    color #24292e
  &__label
    color #000
    height 40px
    line-height 40px
    padding-left: 16px
  &__preview
    padding 10px 16px
  &__save-btns
    position relative
  &__execute
    right 16px
    v-center()
  &__loading-text
    font-size 12px
  &__preview
    font-size 12px
    border-bottom solid 1px #ddd
    margin 10px 16px

.gh-talk-loading
  text-align: center
  svg
    width: 40px

.position-relative
  position relative


.gh-talk-loading
  background-color: rgba(221, 221, 221, 0.5)
  z-index: 2
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: 100%

.gh-talk-iframe__main
  max-width: 300px
  vh-center()
  position: fixed
  left: 50%;
  top: 50%;
  background-color: #fff

.gh-talk__empty
  text-align: center
  font-size: 12px
  color: #586069
