v-center()
  position absolute
  top 50%
  transform: translateY(-50%)

vh-center()
  position: absolute
  transform: translateX(-50%) translateY(-50%)

reset-btn()
  border 0
  background-color transparent
  cursor pointer
  text-decoration none
  white-space nowrap
  padding 0
  display inline-block
  border-radius: none
  appearance: button
  outline none
  color: #000
  svg
    vertical-align: text-bottom
